---
import Card from "../../../components/Card.astro";
---

<section class="goods">
    <div class="container">
      <solt />
      <Card />

      
      <div class="row mb-5 gap-t-2">

    <!-- card -->
    <div class=" col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="card bg-light">
            <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-14-pro-og-202209?wid=1200&amp;hei=630&amp;fmt=jpeg&amp;qlt=95&amp;.v=1660877679990" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">iPhone </h5>
              <p class="card-text text-start">серия смартфонов, разработанных корпорацией Apple. Работают под управлением операционной системы iOS, представляющей собой упрощённую и оптимизированную для функционирования на мобильном устройстве версию macOS.</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://t4.ftcdn.net/jpg/03/10/43/19/360_F_310431929_LhPyOr4UJfR5V72gTN0nKlBkPKOpa0Xm.jpg" class="card-img-top p-3 imgageposition  " alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Apple Watch</h5>
              <p class="card-text text-start">линейка умных часов, созданных корпорацией Apple и представленные 9 сентября 2014 года. Для их полноценной работы требуется  новее с IOS 8 или новее.более 100 миллионов человек использовали Apple Watch по состоянию на декабрь 2020 года.</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4P2NG-KfPy9Bj-Q-J5OVlNtPsXLTxctuqcg&amp;usqp=CAU" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">iPad</h5>
              <p class="card-text text-start">pad — блокнот; устоявшаяся практическая транскрипция — «Айпад»[2]) — iPad — это торговая марка планшетных компьютеров на базе iOS и iPadOS, разработанных Apple Inc.Pad был задуман до родственного iPhone, но iPhone 2G был разработан и выпущен первым.</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://i.blogs.es/d860da/apple_nuevo_macbook_pro/840_560.jpg" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">MacBook</h5>
              <p class="card-text text-start">бренд ноутбуков линейки Macintosh на операционной системе macOS, разработанный корпорацией Apple. В 2006 году заменил бренды PowerBook и iBook во время перехода с PowerPC на Intel x86. Ранее выпускались линейки под названием MacBook</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://i.pcmag.com/imagery/lineups/06CB1OyMMbCj8wWZA0eQwqb-1..v1569492713.jpg" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Apple TV</h5>
              <p class="card-text text-start">это цифровой медиаплеер, разработанный и продаваемый компанией Apple. Это небольшое сетевое устройство, которое воспроизводит полученные медиаданные, такие как видео и аудио, на телевизор или внешний дисплей. </p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://appleinsider.ru/wp-content/uploads/2021/01/new_apple.jpg" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">iMac</h5>
              <p class="card-text text-start">В компактном корпусе компьютера собраны монитор и все системные компоненты, включая привод SuperDrive  (англ.)рус. CD/DVD c щелевой загрузкой (начиная с модели 2012 года отсутствует, можно купить отдельно в виде внешнего оптического привода).</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://images.unsplash.com/photo-1514254651968-1c86261335e9?ixlib=rb-4.0.3&amp;ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGUlMjBtb3VzZXxlbnwwfHwwfHw%3D&amp;w=1000&amp;q=80" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">Magic Mouse</h5>
              <p class="card-text text-start"> компьютерная мышь с поддержкой технологии мультитач, выпускаемая и продаваемая компанией Apple Inc. Поступила в продажу 20 октября 2009 года.Полноценная поддержка функционала устройства появилась в Mac OS X начиная с версии Leopard 10.5.8.</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>

    <!-- card -->
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4 ">
        <div class="card bg-light">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnsAveN4vrScfWAJ5hPyGzRXCSM_NArLLGdAxL8uDixzy_nTfws1-45BP1a1edW2qtWEk&amp;usqp=CAU" class="card-img-top p-3 imgageposition" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title">AirPods</h5>
              <p class="card-text text-start">беспроводные Bluetooth наушники от корпорации Apple. Представляют собой два раздельных наушника (TWS), использующих жесты для взаимодействия с пользователем: вынимание наушника из уха приостанавливает воспроизведения (функция «пауза»);</p>
              <a href="#" class="btn btn-primary">Купить</a>
            </div>
          </div>
    </div>
</div>
    </div>
</section>