<!-- Footer -->
<footer class="footer bg-dark pb-5">
    <p class=" text-white text-center pt-2">Наши социальные сети...</p>
    <div class="d-flex justify-content-center gap-2 ">
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2504/2504947.png" alt="" class=" w-25px"></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2504/2504903.png" alt="" class=" w-25px"></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2504/2504953.png" alt="" class=" w-25px"></a>
    <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2504/2504918.png" alt="" class=" w-25px"></a>
    </div>
</footer>