<!-- HEADER -->
<header class="header">
    <nav class="navbar navbar-expand-lg bg-dark ">

        <div class="container ">

            <!-- logo -->
            
            <a class="navbar-brand" href="#"><img src="https://static10.tgstat.ru/channels/_0/fb/fb64b4fab7048eeef8667ab397b0cedd.jpg" alt="" class="w-25px me-3"></a>
            <!-- btn -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- menu -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center gap-4 ">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="#">Главная  </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Услуги</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Товары</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">О нас</a>
              </li>
              <!-- drop -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Russia-Flag.png" alt="" class="w-35px">
                  Русский
                </a>
                
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#"> <img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Uzbekistan-Flag.png" alt="" class="w-35px"> Узбекский</a></li>
                  <li><a class="dropdown-item" href="#"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/United-Kingdom-flag.png" alt="" class="w-35px"> Английский</a></li>
                  <li><a class="dropdown-item" href="#"><img src="https://cdn3.iconfinder.com/data/icons/finalflags/256/Russia-Flag.png" alt="" class="w-35px">Русский</a></li>
                </ul>
              </li>
             
            </ul>
            <!-- form -->
            <style>
                header form input {
                    border-radius: 5px 0 0 5px;
                }
                header form button {
                    border-radius: 0 5px 5px 0 !important;
                }
            </style>
            <form class="d-flex" role="search">
              <input class="from-control " type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-info" type="submit"> <img src="https://static.thenounproject.com/png/1016969-200.png" alt="" class="w-20px  "></button>
            </form>
          </div>
        </div>
    </nav>
</header>